@import "./shared.scss";

.header-container {
    display: flex;
    justify-content: center;
    font-family: "Roboto", sans-serif;
    padding: 0 0px;

    .header-content {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        position: absolute;
        top: 0;

        max-width: 1200px;
        width: 1200px;

        padding-top: 44px;

        .n1-brand {
            display: flex;
            align-items: center;

            button {
                background-color: transparent;
                cursor: pointer;
            }

            & > * {
                padding-right: 43px;
            }
        }

        .nav-menu {
            flex-grow: 1;
        }

        .nav-menu ul {
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
            flex-grow: 1;
            align-items: center;

            .menu-item{
                text-transform: uppercase;
                font-weight: 500;
                color: #fff;

                display: flex;
                align-items: center;
                
                &:not(:last-child) {
                    border-right: 1px solid $silver;
                    padding: 0 43px 0 0;
                }
                .menu-icon {
                    display: inline-block;
                    height: 100%;
                    padding: 0 15px 0 39px;

                    img {
                        height: 30px;
                        width: 30px;
                    }
                }

                #cart-length {
                    width: 23px;
                    height: 23px;
                    background-color: $blue;
                    border-radius: 50px;

                    text-align: center;
                    line-height: 23px;
                }
            }
        }
    }
}