@import './shared.scss';

.product-container {
    box-shadow: 0px 4px 20px 7px rgba(0, 0, 0, 0.07);
    border-radius: 10px;
    max-width: 350px;

    .product-image {
        max-height: 362px;
        padding-top: 36px;
        padding-bottom: 16px;
    }

    .divisor {
        display: block;
        width: 350px;
        height: 2px;
        background-color: $blue;
    }

    .product-info {
        

        background-color: #F5F5F5;
        color: $dark;
        width: 100%;
        padding-top: 24px;
        padding-bottom: 21px;

        .product-title {
            font-size: 14px;
            font-weight: 400;

            padding-left: 36px;
        }
        
        .product-price {
            font-size: 18px;
            font-weight: 900;
            
            padding-top: 27px;
            padding-left: 36px;
        }

        button {
            display: block;
            width: 240px;
            height: 52px;
            color: #ffffff;
            font-size: 18px;
            font-weight: 900;
            
            background-color: $blue;
            border-radius: 5px;
            margin: 24px auto;
            transition: all 0.3s;
            cursor: pointer;

            &:hover {
                transform: scale(1.05);
            }
        }
    }
}